body {
    background-color: rgb(17, 17, 17);
}

h2 a{ 
    color: orange;
}

h6 {
    color: chocolate;
}

h1 {
    color: wheat
}

h2 {
    color: wheat
}

h3 {
    color: wheat
}

h5 {
    color: wheat
}

p {
    color: wheat;
}

.navbar {
    background-color: orange!important
}

hr{ 
    height: 1px;
    color:wheat;
    background-color:wheat;
    border: none;
  }